// Define variables for your color scheme

// For example:
$purple: #29003C; // Navbar + User profile
$light-purple: #5B4168; // Background color
$baby-purple: #9E8CA6; // Button color
$orange: #FFA047; // Border + logo text color 
$white: #F0EDF1; // Text
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
