// Define variables for your color scheme

// For example:
$purple: #29003C; // Navbar + User profile
$light-purple: #5B4168; // Background color
$baby-purple: #9E8CA6; // Button color
$orange: #FFA047; // Border + logo text color 
$white: #F0EDF1; // Text
