.podcard-show {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.podcard-show-epi {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-control-comment {
  background-color: $white;
  width: 100%;
}

.podcard-show h1, h2, h3 {
  margin: 0px;
  // padding-bottom: 25px;
}

.podcard-show-epi h1, h2, h3 {
  margin: 0px;
  // padding-bottom: 25px;
}

// .pod-descript {
//   padding-top: 50px;
// }

.container-show {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-around;

  h1 {
  font-weight: bold;
  font-size: 35px;
  margin-top: 55px !important;
  }

  h2 {
  font-size: 35px;
  }

  h3 {
  font-size: 30px;
  }
}

.reviews {
  margin-left: 80px;
  margin-right: 500px;

    p {
  font-size: 20px;
  }
}

.info-cards {
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

.interaction-div {
  background: #fff;
  padding-left: 20px;
  // margin-bottom: 20px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info-div {
  background: #fff;
  padding-left: 20px;
  // margin-bottom: 20px;
  left: 0;
  display: flex;
  flex-direction: column;

    .minor-info-div {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
    }

    .img-info-div {
      padding-top: 5px;
      margin-top: 15px;
      display: flex;
    }

    h1 {
      margin-top: 0 !important;
      padding-top: 20px;
      font-size: 30px;
      font-color: dark-grey;
      padding-bottom: 0 !important;
    }

    h2 {
      font-size: 25px;
      padding-bottom: 25px;
      font-style: italic;
      font-weight: 600;
      font-color: $light-gray !important;
      padding-bottom: 0 !important;
    }

    h3 {
      font-size: 15px;
    }

    p {
      font-size: 9px;
      margin-bottom: 0 !important;
    }
}

.podcard-img {
  display:flex;
  align-items: center;
}

.follow-button-area {
  padding: 10px;
}

.vote-div {
  padding: 10px;
}

.btn btn-info {
  border-color: $purple;

}

.info-episode-list {
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;

      h3 {
      font-size: 18px;
      padding-bottom: 25px;
      font-style: italic;
      font-weight: 600;
      font-color: $light-gray !important;
      padding-bottom: 0 !important;
    }
}

.play-button {
  text-decoration: none;
  margin-bottom: 5px;

  a {
    color: $purple;
  }

}

.title-duration {
  display: flex;
}

.duration {
  color: $purple;
  border: 0.5px solid $white;
  padding: 2px 6px;
  margin-top: -4px;
  margin-left: 8px;
  border-radius: 10px;
  border-color: #A9A9A9 ;
  background-color: $white !important;
  text-decoration: none;
  font: inherit;
  font-size: 15px !important;
}


