.podcard-show {
  padding-top: 15px;
  padding-bottom: 40px;
  display: inline-block;
}

.podcard-show-epi {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-control-comment {
  background-color: $white;
  width: 100%;
}

.podcard-show h1, h2, h3 {
  margin: 0px;
  padding-bottom: 25px;
}

.podcard-show-epi h1, h2, h3 {
  margin: 0px;
  padding-bottom: 25px;
}

.pod-descript {
	padding-top: 50px;
}

.container-show {
  margin-top: 65px;
  margin-left: 100px;
  margin-right: 100px;

  h1 {
  font-weight: bold;
  font-size: 35px;
  margin-top: 55px !important;
  }

  h2 {
  font-size: 35px;
  }

  h3 {
  font-size: 30px;
  }
}

.reviews {
  margin-right: 200px;

    p {
  font-size: 20px;
  }
}