.podcard-show {
  padding-top: 40px;
  padding-right: 170px;
  padding-bottom: 40px;
}

.podcard-show-epi {
  padding-top: 40px;
  padding-right: 170px;
  padding-bottom: 40px;
}

.form-control-comment {
  background-color: $white;
  width: 100%;
}

.podcard-show h1, h2, h3 {
  margin: 0px;
  padding-bottom: 25px;
}

.podcard-show-epi h1, h2, h3 {
  margin: 0px;
  padding-bottom: 25px;
}

.pod-descript {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}