<div class="banner" style="background-image: linear-gradient(-225deg, rgba(207, 125, 171, 0.6) 0%, rgba(50,26,61,0.6) 50%), url('http://lathisms.org/images/WebinarBanner.jpg');">
	<div class="banner-content">
    <div class="search">
      <h1>Searching for podcasts just got better</h1>
      <%= render 'shared/bannerbar' %>
    </div>
  <div>
    <%= render 'shared/checkbox' %>
  </div>
</div>

<!-- (-225deg, rgba(40,26,61,0.6) 0%, rgba(247, 155, 241, 0.6) 50%) -->
