<div class="banner" style="background-image: linear-gradient(-225deg, rgba(157, 135, 241, 0.6) 0%, rgba(0,26,61,0.6) 50%), url('https://files.slack.com/files-pri/T02NE0241-FEM05TQ91/capture_d___e__cran_2018-12-06_a___10.43.11.png');">
	<div class="banner-content">
		<div class="banner-wrap">
			<div class="search">
				<h1>Searching podcasts just got better</h1>
				<%= render 'shared/bannerbar' %>
			</div>
		</div>
	</div>
</div>	
