<div class="banner-form">
	<div class="input-group">
		<%= form_tag podcasts_path, method: :get do %>
		<%= text_field_tag :query,
		params[:query],
		class: "form-control-banner",
			placeholder: "Search episodes"
			%>
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</div>
			<% end %>
		</div>
	</div>
</div>	