<div class="carousel">
  <div class="contain">
    <div class="scroll-row">
      <div class="row__inner">
        <% podcasts.each do |podcast| %>
          <div class="tile">
            <div class="tile__media">
              <div><%=link_to( image_tag(podcast.searchable.image), podcast_path(podcast.searchable.id), :class=>"img-size") %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
