<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
<!--       <div class="col-md-3 col-sm-6">
 -->        <!--Column1-->
        <!-- <div class="footer-pad">
          <h4>Footer Stuff</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">Contact Directory</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
<!--         <div class="footer-pad">
          <h4>More Stuff</h4>
          <ul class="list-unstyled">
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <!-- <div class="footer-pad">
          <h4>Stuff</h4>
          <ul class="list-unstyled">
            <li><a href="#">Parks and Recreation</a></li>
            <li><a href="#">Public Works</a></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3"> -->

<!--             <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
      <A class="logo-listennotes" HREF="mailto:m.cardoso@hotmail.fr?subject=I want to know more about dopcast :)"> <strong><h3>Let's keep in touch? </h3></strong> </A>
    </div>
    </div>
  <div class="row">
    <div class="col-md-12 copy">
      <p class="text-center">&copy; Copyright 2018 - dopcast.  All rights reserved.</p>
        <div class="logo-listennotes"> <%= image_tag "listennotes.png" %> </div>

    </div>
  </div>


  </div>
  </div>
</footer>
