<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add to a Playlist
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="navbar-wagon-item navbar-wagon-link" href=<%= new_user_playlist_path(current_user, episode_id: @episode.id) %> >Create a new Playlist</a>
    <% current_user.playlists.each do |playlist| %>
    <a class="navbar-wagon-item navbar-wagon-link" href=<%= add_episode_to_playlist_playlist_path(playlist, episode_id: @episode.id) %> ><%= playlist.name %></a>
    <% end %>
  </div>
</div>