<header class="page-head"><h1>Netflix</h1></header>

<ul class="items">
  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/orangeisthenewblack.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Orange is the new black</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/uglybetty.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Ugly Betty</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/big.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Big</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/apprentice.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>The Apprentice</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/veep.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Veep</h2>
      </div>
    </a>
  </li>
  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/orangeisthenewblack.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Orange is the new black</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/uglybetty.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Ugly Betty</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/big.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Big</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/apprentice.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>The Apprentice</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/veep.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Veep</h2>
      </div>
    </a>
  </li>
  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/orangeisthenewblack.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Orange is the new black</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/uglybetty.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Ugly Betty</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/big.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Big</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/apprentice.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>The Apprentice</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/veep.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Veep</h2>
      </div>
    </a>
  </li>
</ul>
