<div class="carousel">
  <div class="contain">
    <div class="scroll-row">
      <div class="row__inner">
        <% users.each do |user| %>
          <%= cl_image_tag user.photo, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
</div>
