<!-- Must be called with a div class container-text inside a page!! -->

<div class="sidenav">
	<%= image_tag "avatar.png", class: "avatar-side" %>
	<a href="#history">History</a>
	<a href="#later">Listen Later</a>
	<a href="#playlists">Playlists</a>
	<a href="#liked">Liked</a>
	<a href="#subscription">Subscriptions</a>
</div>

