<div class="sidenav">
  <a href="#history">History</a>
  <a href="#later">Listen Later</a>
  <a href="#playlists">Playlists</a>
  <a href="#liked">Liked</a>
  <a href="#subscription">Subscriptions</a>
</div>