<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <% if a.trackable %>
    <%= link_to a.trackable.collection_name, podcast_path(a.trackable) %> was added.
  <% else %>
    A podcast that is currently deleted was added.
  <% end %>
  <%= image_tag a.trackable.image, class: "img-feed" %>
</li>


