<%= render 'shared/sidebar' %>

<div class="container-text">
	
	<h1>Pages#home</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p class="simple-button">Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Find me in app/views/pages/home.html.erb</p>

</div>


<%= render 'shared/footer' %>
