<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <% if a.trackable %>
    <%= link_to a.trackable.username, user_path(a.trackable) %> add a new photo
  <% else %>
    A podcast that is currently deleted was added.
  <% end %>
  <%= cl_image_tag a.trackable.photo, class: "img-feed" %>
</li>
