body {
-webkit-font-smoothing: antialiased;
}

.banner {
  color: white;
  text-align: center;
  min-height: 100vh;
  padding-top: 30vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner h1 {
  font-size: 35px;
  font-weight: bold;
  // text-shadow: 2px 2px black;
  position: relative;
  font-family: Roboto !important;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


