body,
html {
    margin: 0;
    padding: 0;
}

// body {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     background: #FFEFBA;
//     /* fallback for old browsers */
//     background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
//     /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to right, #FFFFFF, #FFEFBA);
//     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// }

#checkbox-container
{
    height:2000px;
}

#checkbox-container DIV
{
    margin:50px;
    padding:50px;
}

.hideme {
    opacity:0;
}

.filter-text {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 13px;
  padding-right: 21px;
  font-size: 16px;
}

  .filter-checkbox  {
    display: flex;
    width: 100%;
  }

  .filter-checkbox p {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;

  }

  .checkbox-container {
      opacity: 0;
      // width: 900px;
      // height: 300px;
      font-family: 'Roboto';
      font-size: 11px;
      width: 800px;
      display: flex;
      margin-top: 0px;
      margin-bottom: 40px;
  }



  .checkbox-container form {
    width: 100%;
  }
  // .checkbox-column {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   padding: 10px;
  //   }

  // .checkbox-column-category {
  //   flex-direction: column;
  //   align-items: center;
  //   padding: 10px;
  //   -webkit-columns: 2 100px;
  //   -moz-columns: 2 100px;
  //   columns: 2 100px;
  //   padding-bottom: 40px;
  //   }

  ul.filter-checkbox {
    list-style: none;
    padding-left: -100px;
    // padding: 10px;
    opacity: 0.85;
    transition: opacity 0.5s;
    align-items: flex-start;
    &:hover {
      opacity: 1;
    }
    // display: inline-block;
  }
  ul.filter-checkbox li{
    display: inline-grid;
    column-fill: balance;
    padding-right: 10px;
  }

  ul.filter-checkbox li label{
      display: inline-block;
      background-color: rgba(255, 255, 255, .9);
      border: 2px solid rgba(139, 139, 139, .3);
      color: #adadad;
      border-radius: 15px;
      white-space: nowrap;
      margin: 3px 0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      transition: all .2s;
  }

  ul.filter-checkbox li label {
      padding: 4px 10px;
      cursor: pointer;
  }

  ul.filter-checkbox li label::before {
      // display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 12px;
      padding: 2px 6px 2px 2px;
      content: "\f067";
      transition: transform .3s ease-in-out;
  }

  ul.filter-checkbox li input[type="checkbox"]:checked + label::before {
      content: "\f00c";
      transform: rotate(-360deg);
      transition: transform .3s ease-in-out;
  }

  ul.filter-checkbox li input[type="checkbox"]:checked + label {
      border: 2px solid #1bdbf8;
      background-color: #12bbd4;
      color: #fff;
      transition: all .2s;
  }

  ul.filter-checkbox li input[type="checkbox"] {
    // display: absolute;
  }
  ul.filter-checkbox li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  ul.filter-checkbox li input[type="checkbox"]:focus + label {
    border: 2px solid #e9a1ff;
  }


.category-checkbox {
  padding: 0px;
}

// .category-checkbox2 {
//   padding: 14px;
// }



.arrows {
  width: 60px;
  height: 72px;
  left: 50%;
  margin-left: -30px;
}

.arrows path {
  stroke: $white;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
