
.log-in{
  background-color: $white;
  padding: 20px 30px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.log-in h2 {
  color: $light-purple;
}

.form-inputs {
  color: $purple;
}

.form-check-label {
  padding-left: 7px;
}

.sign-up {
  background-color: $white;
  padding: 20px 30px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.sign-up h2 {
  color: $light-purple;
}

.forgot-password {
  background-color: $white;
  padding: 20px 30px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.forgot-password h2 {
  color: $light-purple;
}

.change-password {
  background-color: $white;
  padding: 20px 30px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.change-password h2 {
  color: $light-purple;
}
