// *{
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }
.static-epicard{
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 5000px;
  transform: translateY(-50%) translateX(-50%);
  background-color: black;
}

.epicard-photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
}

.epicard-title {
  top: 35px;
  font-size: 25px;
  font-weight: 30;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 6px;
  padding-top: 6px;
}
.epicard-category {
  top: 135px;
  font-size: 15px;
  padding-left: 6px;
  color : white;
  font-weight: 3000;
}

.epicard-language {
  top: 135px;
  font-size: 15px;
  padding-left: 6px;
}
.epicard-description {
  top: 155px;
  font-size: 10px;
  text-align: left;
  padding: 6px;
}

.display-epicard{
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 5000px;
  transform: translateY(-50%) translateX(-50%);

  li{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    list-style: none;
    width: 200px;
    height: 120px;
    background-color: black;
    transition-duration: .5s;
    overflow: hidden;
    cursor: pointer;

    &:hover{
      transition-delay: .5s;
      width: 300px;
      height: 210px;

      a{
        .content{
          transform: translateY(0) translateX(-50%);
          transition-delay: .75s;
          opacity: 1;
        }
      }
    }

    a{
      color: white;
      text-decoration: none;
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      z-index: 2;

      .content{
        background: linear-gradient(transparent, rgba(0, 0, 0, .75));
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(100%) translateX(-50%);
        transition-duration: 1s;
        opacity: 0;
        padding: 40px 10px 10px 10px;
        width: 400px;

        h2{
          font-weight: 300;
          color: white;
          font-size: 30px;
        }
      }
    }
  }
}
