.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #29003C;
    overflow-x: hidden;
}

.sidenav-signout {
    padding-top: 130px;
}

.sidenav-signin {
    padding-top: 20px;
    padding-left: 20px;
}


.sidenav a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: flex;
    position: relative;
    padding-left: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.sidenav a:hover {
  color: $orange;
  text-decoration: none;
}

.container-text {
    margin-left: 180px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.avatar-side {
  height: 110px;
  width: 120px;
  border-radius: 50%;
  padding: 10px 8px 6px 16px;
  position: relative;
  left: 14px;
  bottom: 10px;
  margin-top: 45px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .avatar-side {height: 50%}
    .avatar-side {width: 50%}
}

.side-navbar-brand {
  display: flex;
  padding-left: 9px;
}

#home .sidenav {
  display: none;
}
