
.user-profile-title {

  padding: 30px;
}

.user-profile-playlist {
    // padding: 25px;
    margin-left: 60px;
    margin-bottom: 0px;
    margin-top: 20px;

  .user-profile-playlist .row__inner {

    margin: 30px;
  }
}


.form-playlist {

}
