<%= render "shared/sidebar" %>
<div class="container-text">
  <div class="container-carousel">
    <div class="arrow-left">
      <i class="icon-angle-left"></i>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3><strong>Podcasts</h3></strong>
      <%= render "shared/carousel" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div id="episode-car">
        <h3><strong>Episodes</h3></strong>
        <%= render "shared/carousel" %>
      </div>
    </div>
    <div class="arrow-right">
      <i class="icon-angle-right"></i>
    </div>
  </div>
</div>