<h2>Here are the results of your search</h2>
<h3>Results for Podcasts</h3>
<div class="container">
  <div class="arrow-left">
    <i class="icon-angle-left"></i>
  </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
      <%= render "shared/carousel" %>
      </div>
  <div class="arrow-right">
    <i class="icon-angle-right"></i>
  </div>
</div>
<h3>Results for Episodes</h3>
<%= render "shared/slickbar" %>
