<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="podcard">
        <%= image_tag @podcast.image, class: "img-responsive" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h1>Podcast name here</h1>
      <h2>Category here</h2>
      <h3>Language here</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <br>
      <h3> Description here</h3>
      <br>
    </div>
  </div>
</div>



